@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 17px;
  font-family: cursive;
  font-weight: var(--fw__bold);
  text-transform: uppercase;
  cursor: not-allowed;
}

/* VARIABLES SETUP  */
:root {
  --clr__text__300: hsl(14, 88%, 65%);
  --clr__text__400: hsl(240, 6%, 50%);
  --clr__text__500: hsl(237, 12%, 33%);
  --clr__text__600: hsl(238, 29%, 16%);
  --clr__bg__400: hsl(273, 60%, 70%);
  --clr__bg__500: hsl(240, 73%, 59%);
  --clr__divider__100: hsl(240, 5%, 91%);
  --fw__bold: 700;
}

/* BACKGROUND STYLING  */
body {
  height: 80%;
  background-color: red;
  display: flex;

  gap: 1rem;
}

/* CARD STYLING  */
main {
  background-color: hsl(0, 0%, 100%);
  background-image: url(images/funnycat.jpeg);
  background-repeat: no-repeat;
  background-position: top;

  display: flex;
  flex-direction: column;
}
section {
  border: 5px dotted turquoise;
}
#hero__img__mobile {
  max-height: 180px;
  min-width: 250px;
  position: relative;
  margin-top: -12rem;
}
#hero__img__desktop {
  display: none;
}
#hero__img__box {
  display: none;
}
.content__wrapper {
  background-color: greenyellow;
  border: 5px solid rgb(255, 19, 172);
}
.title {
  font-size: 2.5rem;
  padding: 5rem 0 2rem 0;
  background: blue;
  color: yellow;
  animation: faq__animation 2s infinite;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 0;
  transition: 0.5s;
  color: red;
}
.question:hover {
  cursor: pointer;
  color: red;
  transition: 0.5s;
}
button {
  border: none;
  background: none;
  padding: 0 0.5rem;
}
button:hover {
  cursor: pointer;
}

#arrow {
  height: 1.5rem;
}
.answer {
  display: none;
  color: blue;
  padding-bottom: 1rem;
}
.active .answer {
  display: block;
  max-height: 50px;
}
.active .question {
  animation: text__blink 0.3s infinite;
}
.active #arrow {
  animation: arrow__rotation 1s infinite;
}
@keyframes faq__animation {
  0% {
    margin-left: 0%;
    color: yellow;
    background-color: blue;
  }

  50% {
    margin-right: 50%;
    color: blue;
    background-color: yellow;
  }
  75% {
    margin-left: 50%;
    color: yellow;
    background-color: blue;
  }
  100% {
    margin-left: 0%;
    color: blue;
    background-color: yellow;
  }
}

@keyframes arrow__rotation {
  0% {
    rotate: 90deg;
    background-color: blue;
  }
  100% {
    rotate: 360deg;
    background-color: fuchsia;
    transform: scale(1.5);
  }
}
@keyframes text__blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  color: white;
  transition: 0.5s;
  background-image: url(images/catgif.gif);
  background-size: 150px;
  background-repeat: repeat;
}
.attribution:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.attribution a {
  color: hsl(14, 88%, 65%);
}
/* SWITCH STYLING  */
.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: var(--clr__bg__400);
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--clr__text__300);
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.theme {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 760px) {
  main {
    flex-direction: row;
    width: 40rem;
    height: 35.5rem;
    padding: 2rem;
    background-image: none;
    justify-content: space-evenly;
    overflow: visible;
    background-image: url(images/funnycat.jpeg);
    background-size: 20rem;
    background-repeat: repeat;
    background-position: -4.5rem;
  }
  #hero__img__mobile {
    display: none;
  }
  #hero__img__box {
    display: none;
  }
  .image__wrapper {
    max-width: 40%;

    background-size: contain;
    background-repeat: repeat;
  }
  #hero__img__desktop {
    display: none;
  }
  .content__wrapper {
    width: 40%;
    min-height: 100%;
    font-size: 1.1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .title {
    padding: 0;
  }
}
