@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Kumbh Sans";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* VARIABLES SETUP  */
:root {
  --clr__text__300: hsl(14, 88%, 65%);
  --clr__text__400: hsl(240, 6%, 50%);
  --clr__text__500: hsl(237, 12%, 33%);
  --clr__text__600: hsl(238, 29%, 16%);
  --clr__bg__400: hsl(273, 60%, 70%);
  --clr__bg__500: hsl(240, 73%, 59%);
  --clr__divider__100: hsl(240, 5%, 91%);
  --fw__bold: 700;
}

/* BACKGROUND STYLING  */
body {
  height: 100vh;
  background: linear-gradient(var(--clr__bg__400), var(--clr__bg__500));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* CARD STYLING  */
main {
  background-color: hsl(0, 0%, 100%);
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 3rem;
}
section {
  border-bottom: 1px solid var(--clr__divider__100);
}
#hero__img__mobile {
  max-height: 180px;
  min-width: 250px;
  position: relative;
  margin-top: -12rem;
}
#hero__img__desktop {
  display: none;
}
#hero__img__box {
  display: none;
}
.content__wrapper {
  text-align: center;
}
.title {
  font-weight: var(--fw__bold);
  font-size: 2.5rem;
  padding: 5rem 0 2rem 0;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 0;
  transition: 0.5s;
}
.question:hover {
  cursor: pointer;
  color: var(--clr__text__300);
  transition: 0.5s;
}
button {
  border: none;
  background: none;
  padding: 0 0.5rem;
}
button:hover {
  cursor: pointer;
}

#arrow {
  height: 0.7rem;
  width: 0.8rem;
  transition: 0.5s;
}
.answer {
  display: none;
  color: var(--clr__text__400);
  padding-bottom: 1rem;
}
.active .answer {
  display: block;
}
.active .question {
  font-weight: var(--fw__bold);
}
.active #arrow {
  transform: rotate(180deg);
  transition: 0.5s ease-in;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  color: white;
  transition: 0.5s;
}
.attribution:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.attribution a {
  color: hsl(14, 88%, 65%);
}
/* SWITCH STYLING  */
.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: var(--clr__bg__400);
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--clr__text__300);
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.theme {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 760px) {
  main {
    flex-direction: row;
    width: 65rem;
    height: 35.5rem;
    padding: 2rem;
    background-image: none;
    justify-content: space-evenly;
    overflow: hidden;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: contain;
    background-position: -4.5rem;
  }
  #hero__img__mobile {
    display: none;
  }
  #hero__img__box {
    display: block;
    margin-top: -19rem;
    margin-left: -14rem;
    position: absolute;
  }
  .image__wrapper {
    max-width: 40%;

    background-size: contain;
    background-repeat: repeat;
  }
  #hero__img__desktop {
    display: block;
    margin-left: -12.5rem;
  }
  .content__wrapper {
    width: 40%;
    min-height: 100%;
    font-size: 1.1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .title {
    padding: 0;
  }
}
